{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cashier/add_items.css' %}">
{% endblock styles %}
    
 {% block topbar %}
  <h2>Add Items</h2>
{% endblock topbar %} 


{% block topbar-button %}
  <button>Back to Inventory</button>
{% endblock topbar-button %}
  

{% block content %}
<main class="add-items container content">
  <h2>New Item</h2>
  {% for message in messages %}
  <p id="error-message">{{ message }}</p>
  {% endfor %}
  <div class="add-items__content">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="add-items__form-content">
        <div class="form-field">
          <div class="label">{{form.image.label}}:</div>
          <div class="image-preview">
            <img id="image" />
            {{form.image}}
          </div>
        </div>

        <div class="form-field">
          <div class="label">{{form.description.label}}:</div>
          {{form.description}}
        </div>

        <div class="form-field">
          <div class="label">{{form.brand.label}}:</div>
          {{form.brand}}
        </div>

        <div class="form-field">
          <div class="label">{{form.category.label}}:</div>
          {{form.category}}
        </div>

        <div class="form-field">
          <div class="label">{{form.name.label}}:</div>
          {{form.name}}
        </div>

        <div class="form-field">
          <div class="label">{{form.stock.label}}:</div>
          {{form.stock}}
        </div>

        <div class="form-field">
          <div class="label">{{form.price.label}}:</div>
          {{form.price}}
        </div>

        <div class="submit">
          <input class="add-items__submit" type="submit" value="Submit" />
        </div>
      </div>
    </form>
  </div>

  
  
</main>





<!-- <aside class="error-modal">
  <div class="error-modal__content">
    <p>Item already exists</p>
    <button class="close">Back</button>
  </div>
</aside> -->

<script>
  // image upload
  document.getElementById("files").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById("image").src = e.target.result;
    };
    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };

</script>


<!-- {% if isDuplicate %}
<script>
  // modal error
  const submit = document.querySelector(".add-items__submit");
  const modal = document.querySelector(".error-modal");
  const button = document.querySelector(".close");

  submit.addEventListener('click', (e) => {
    e.preventDefault()
    modal.style.display = "block"
  })

  button.addEventListener('click', (e) => {
    modal.style.display = "none"
  })

  window.addEventListener('click', (e) => {
    if (e.target == modal) {
      modal.style.display = "none";
    } 
  })
</script>
{% endif %} -->

{% endblock content %}
