{% extends 'base.html' %} {% load static %} 

{% block topbar %}
<h4>Add Items</h4>
{% endblock topbar %} 

{% block topbar-button %}
<button>Back to Inventory</button>
{% endblock topbar-button %} 

{% block content %}
<main class="add-items container my-5">
  <h4>New Item</h4>
  {% for message in messages %}
  <div class="alert alert-danger mt-3 text-center" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  <div class="add-items__content mt-4">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="add-items__form-content my-1 mx-0">
        <div class="form-field">
          <div class="label">{{form.image.label}}:</div>
          <div class="image-preview w-100 position-relative">
            <img id="image" class="position-absolute w-100 h-100" />
            {{form.image}}
          </div>
        </div>

        <div class="form-field">
          <div class="label">{{form.description.label}}:</div>
          {{form.description}}
        </div>

        <div class="form-field">
          <div class="label">{{form.brand.label}}:</div>
          {{form.brand}}
        </div>

        <div class="form-field">
          <div class="label">{{form.category.label}}:</div>
          {{form.category}}
        </div>

        <div class="form-field">
          <div class="label">{{form.name.label}}:</div>
          {{form.name}}
        </div>

        <div class="form-field">
          <div class="label">{{form.stock.label}}:</div>
          {{form.stock}}
        </div>

        <div class="form-field">
          <div class="label">{{form.price.label}}:</div>
          {{form.price}}
        </div>

        <div class="submit d-flex justify-content-end align-items-end">
          <input
            class="add-items__submit bg-darkbrown text-white b-0 w-100 mt-1"
            type="submit"
            value="Submit"
          />
        </div>
      </div>
    </form>
  </div>
</main>

<script>
  // image upload
  document.getElementById('files').onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById('image').src = e.target.result;
    };
    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
</script>

<!-- {% if isDuplicate %}
<script>
  // modal error
  const submit = document.querySelector(".add-items__submit");
  const modal = document.querySelector(".error-modal");
  const button = document.querySelector(".close");

  submit.addEventListener('click', (e) => {
    e.preventDefault()
    modal.style.display = "block"
  })

  button.addEventListener('click', (e) => {
    modal.style.display = "none"
  })

  window.addEventListener('click', (e) => {
    if (e.target == modal) {
      modal.style.display = "none";
    } 
  })
</script>
{% endif %} -->

{% endblock content %}
