{% extends 'base.html' %} {% load static %} 

{% block topbar %}
<h4>My Account</h4>
{% endblock topbar %} 

{% block topbar-button %}
<a href="{% url 'logout' %}"><button>Logout User</button></a>
{% endblock topbar-button %} 

{% block content %}
<main class="dashboard mt-5 container">
    <h4>Hello, {{request.user}}!</h4>
    <section
        class="dashboard__links d-flex justify-content-between align-items-center flex-wrap"
    >
        <div class="dashboard__link d-flex flex-column mb-4">
            <img src="{% static 'img/dashboard_shop.png' %}" alt="" />
            <a href="{% url 'edit-inventory' %}"
                ><button class="bg-darkbrown text-white mt-4">
                    Edit Inventory
                </button></a
            >
        </div>
        <div class="dashboard__link d-flex flex-column mb-4">
            <img src="{% static 'img/dashboard_status.png' %}" alt="" />
            <a href="{% url 'customer-orders' %}"
                ><button class="bg-darkbrown text-white mt-4">
                    Check Orders
                </button></a
            >
        </div>
        <div class="dashboard__link d-flex flex-column mb-4">
            <img src="{% static 'img/dashboard_data.png' %}" alt="" />
            <button class="bg-darkbrown text-white mt-4">Export Data</button>
        </div>
        <div class="dashboard__link d-flex flex-column mb-4">
            <img src="{% static 'img/dashboard_address.png' %}" alt="" />
            <a href="{% url 'addresses' %}"
                ><button class="bg-darkbrown text-white mt-4">
                    Proof of Payments
                </button></a
            >
        </div>
        <div class="dashboard__link d-flex flex-column mb-4">
            <img src="{% static 'img/dashboard_info.png' %}" alt="" />
            <a href="{% url 'addresses' %}"
                ><button class="bg-darkbrown text-white mt-4">
                    Manage Drivers
                </button></a
            >
        </div>
    </section>
    <section class="dashboard__footer d-flex justify-content-between">
        <img
            class="dashboard__motor"
            src="{% static 'img/motor.png' %}"
            alt=""
        />
        <img
            class="dashboard__houses"
            src="{% static 'img/houses.png' %}"
            alt=""
        />
    </section>
</main>
{% endblock content %}
