{% load static %}
<nav class="navbar bg-darkbrown">
  <div class="nav-content h-100 my-0 mx-auto d-flex justify-content-between">
    <div class="nav-content__logo h-100 d-flex align-items-center">
      <img src="{% static 'img/logo.png' %}" alt="logo" />
    </div>
    <div
      class="nav-content__links h-100 d-flex justify-content-between align-items-center"
    >
      <a class="text-white text-decoration-none" href="">Home</a>
      <a class="text-white text-decoration-none" href="">Shop</a>
      <a class="text-white text-decoration-none" href="">My Account</a>
      <img class="cart" src="{% static 'img/cart.png' %}" alt="cart" />
    </div>
  </div>
</nav>
