{% extends 'base.html' %} {% load static %} 
{% block topbar %}
<h4>My Account Info </h4>
{% endblock topbar %} 


{% block content %}
<main class="w-30 mx-auto auth">
    <section class="card-bg p-4 my-1">
        <h4>Account Information</h4>
        <hr>
        <div class="account-info__details">
            <div class="account-info__detail mb-3">
                <h5>First Name:</h5>
                <p class="mt-1">{{customer.first_name}}</p>
            </div>
            <div class="account-info__detail mb-3">
                <h5>Last Name:</h5>
                <p class="mt-1">{{customer.last_name}}</p>
            </div>
            <div class="account-info__detail mb-3">
                <h5>Mobile Number:</h5>
                <p class="mt-1">{{customer.mobile_phone}}</p>
            </div>
            <div class="account-info__detail mb-3">
                <h5>Email:</h5>
                <p class="mt-1">{{customer.email}}</p>
            </div>
        </div>
        <a href="{% url 'edit-account' %}"><button class="bg-darkbrown d-block ms-auto mt-3">Edit Details</button></a>
    </section>
</main>
{% endblock content %}
    