{% extends 'base.html' %} {% load static %} 

{% block topbar %}
<h4>Checkout</h4>
{% endblock topbar %} 

{% block content %}
<main class="container mt-5">
  <h4>Shopping Cart Summary</h4>
  
  {% if order_items %}
    <aside class="breadcrumbs-bar d-flex mt-4">
        <div class="active breadcrumb-section text-darkbrown w-100 d-flex justify-content-center align-items-center">
            <h6>1. Cart Summary</h6>
        </div>
        <div style="border-left-width: 0px" class="breadcrumb-section text-darkbrown w-100 d-flex justify-content-center align-items-center">
            <h6>2. Order Details</h6>
        </div>
  </aside>
  {% endif %}
      
  <form method="POST">
      {% csrf_token %}
    <section
        class="cart-content d-lg-flex justify-content-between align-items-start my-5"
    >

        <!-- FIRST PAGE START -->
        <section class="cart-list p-4 card-bg cart-left">
        <div class="cart-row d-flex mb-4">
            <div class="flex-2"><p class="weight-600">Image</p></div>
            <div class="flex-2"><p class="weight-600">Name</p></div>
            <div class="flex-1"><p class="weight-600">Price</p></div>
            <div class="flex-1"><p class="weight-600">Quantity</p></div>
            <div class="flex-1"><p class="weight-600">Total</p></div>
        </div>

        {% for order_item in order_items %}
        <div class=" cart-row mb-4 d-flex">
            <div class="flex-2">
                <img class="row-image" src={{order_item.item.image.url}} alt="" />
            </div>
            <div class="flex-2">
                <p>{{order_item.item.name}}</p>
            </div>
            <div class="flex-1">
                <p>{{order_item.item.price}}</p>
            </div>
            <div class="flex-1 d-flex">
                <p class="me-3">x {{order_item.quantity}}</p>
            <div class="quantity d-flex flex-column justify-content-start">
                <img
                data-product={{order_item.item.id}}
                data-action="add"
                class="chg-quantity update-cart mb-2"
                src="{% static 'img/arrow-up.png' %}"
                />

                <img
                data-product={{order_item.item.id}}
                data-action="remove"
                class="chg-quantity update-cart"
                src="{% static 'img/arrow-down.png' %}"
                />
            </div>
            </div>
            <div class="flex-1"><p>&#8369; {{order_item.get_total}}</p></div>
        </div>
        {% endfor %}
        </section>
        <!-- END -->

        
        {% if order_items %}
            <!-- SECOND PAGE START -->
        <div class="cart-left card-bg p-4">
            <div class="cart-pickup-address">
                <h5>Choose an Address:</h5>
                <select name="address" class="cart-address py-2 px-2 w-50 mt-3" required>
                    <option value="" selected disabled>Select Address</option>
                {% for address in addresses %}
                    <option value={{address.id}} data-city="{{address.city}}">{{address.street_address}}, {{address.barangay}}, {{address.city}}, {{address.zip_code}}</option>
                {% endfor %} 
                </select>
            </div >
            <div class="mt-4">
                <h5>Payment Method:</h5>
                <select name="payment" class="cart-payment py-2 px-2 w-50 mt-3" required>
                    <option value="" selected disabled>Select Payment Method</option>
                {% for payment_method in payment_methods %}
                    <option value={{payment_method.id}}>{{payment_method.method}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="cart-pickup-date mt-4">
                <h5 class="mb-3">Preferred Date of Delivery/Pick-up:</h5>
                <input class="cart-date px-1 py-1" type="date" name="date" required>
            </div>
            <div class="cart-pickup-time mt-4">
                <h5 class="mb-3">Preferred Time of Delivery/Pick-up:</h5>
                <input class="cart-time px-1 py-1 me-2" type="time" name="time" id="" min="08:00" max="17:00" required>
                <small>Office hours are 8am to 5pm</small>
            </div>
        </div>
        <!-- END -->
        
        <div class="cart-right d-flex flex-column">
            <div class="order-summary card-bg p-4 w-100 mt-3 m-lg-0">
                <h4>Order Summary</h4>
                <hr />
                <p class="d-flex justify-content-between"><strong>Order Total:</strong><span> &#8369; <span class="order-total">{{order.get_cart_total}}</span></span</p>
                <p class="mt-2 d-flex justify-content-between"><strong>Delivery Fee:</strong><span> &#8369; <span class="delivery-fee">0.00</span></span></p>
                <hr>
                <p class="mt-2 d-flex justify-content-between"><strong>Total Amount:</strong><span> &#8369; <span class="total-amount"></span></span></p>
            </div>
            <div class="card-bg p-4 w-100 mt-3">
                <h4>Order Details</h4>
                <hr />
                <p><strong>Address:</strong></p>
                <div class="cart-detail-address">None</div>
                <p class="mt-2 d-flex justify-content-between"><strong>Payment Method:</strong><span class="cart-detail-payment">None</span></p>
                <p class="mt-2 d-flex justify-content-between"><strong>Date:</strong><span class="cart-detail-date">None</span></p>
                <p class="mt-2 d-flex justify-content-between"><strong>Time:</strong><span class="cart-detail-time">None</span></p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button
                class="checkout-back w-100 bg-sienna text-white p-3 rounded mt-4 me-3"
                >
                Back
                </button>
                <button
                class="checkout-next w-100 bg-darkbrown text-white p-3 rounded mt-4 ml-3"
                >
                Next
                </button>
                <input type="submit"
                class="checkout-submit w-100 bg-darkbrown text-white p-3 rounded mt-4 ml-3" value="Submit"
                />
            </div>
        </div>
    </section>
  </form>

<div class="add-address card-bg p-4 my-5">
    <h6 class="mb-4">Don't have an address?</h6>
            <h5 class="mb-4">Add a New Address</h5>
            <form method="POST">
            {% csrf_token %}
                <div class="add-address__content two-col-form my-1 mx-0">

                    <div class="form-field">
                        <div class="label">{{form.street_address.label}}:</div>
                        {{form.street_address}}
                    </div>

                    <div class="form-field">
                        <div class="label">{{form.barangay.label}}:</div>
                        {{form.barangay}}
                    </div>

                    <div class="form-field">
                        <div class="label">{{form.city.label}}:</div>
                        {{form.city}}
                    </div>

                    <div class="form-field">
                        <div class="label">{{form.zip_code.label}}:</div>
                        {{form.zip_code}}
                    </div>

                    <div class="form-field">
                        <div class="label">{{form.home_phone.label}}:</div>
                        {{form.home_phone}}
                    </div>

                    <div class="form-field">
                        {{form.customer}}
                    </div>

                    <div class="add-address__submit submit d-flex justify-content-end align-items-end">
                        <button
                            class="bg-darkbrown text-white w-100 mt-1"
                            type="submit"
                        >Submit</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
</main>

<script src="{% static 'js/checkout/breadcrumb.js' %}"></script>
<script src="{% static 'js/checkout/checkout.js' %}"></script>
<script src="{% static 'js/checkout/updateQuantity.js' %}"></script>
{% endblock content %}
