{% extends 'base.html' %} {% load static %} {% block topbar %}
<h4>Checkout</h4>
{% endblock topbar %} {% block content %}
<main class="container mt-5">
  <h4>Shopping Cart Summary</h4>
  <aside class="breadcrumbs-bar d-flex mt-4">
    <div
      class="active breadcrumb-section text-darkbrown w-100 d-flex justify-content-center align-items-center"
    >
      <h6>1. Summary</h6>
    </div>
    <div
      style="border-left-width: 0px"
      class="breadcrumb-section text-darkbrown w-100 d-flex justify-content-center align-items-center"
    >
      <h6>2. Address</h6>
    </div>
    <div
      style="border-left-width: 0px"
      class="breadcrumb-section text-darkbrown w-100 d-flex justify-content-center align-items-center"
    >
      <h6>3. Payment</h6>
    </div>
  </aside>


  <section
    class="cart-content d-lg-flex justify-content-between align-items-start mt-5"
  >

    <!-- FIRST PAGE START -->
    <section class="cart-list p-4 card-bg cart-left">
      <div class="cart-row d-flex mb-4">
        <div class="flex-2"><p class="weight-600">Image</p></div>
        <div class="flex-2"><p class="weight-600">Name</p></div>
        <div class="flex-1"><p class="weight-600">Price</p></div>
        <div class="flex-1"><p class="weight-600">Quantity</p></div>
        <div class="flex-1"><p class="weight-600">Total</p></div>
      </div>

      {% for i in '012' %}
      <div class=" cart-row mb-4 d-flex">
        <div class="flex-2">
          <img class="row-image" src="{% static 'img/logo.png' %}" alt="" />
        </div>
        <div class="flex-2"><p>Name</p></div>
        <div class="flex-1"><p>Price</p></div>
        <div class="flex-1 d-flex">
          <p>x 2<span></span></p>
          <div class="quantity d-flex flex-column justify-content-start">
            <img
              data-product="1"
              data-action="add"
              class="chg-quantity update-cart mb-2"
              src="{% static 'img/arrow-up.png' %}"
            />

            <img
              data-product="1"
              data-action="remove"
              class="chg-quantity update-cart"
              src="{% static 'img/arrow-down.png' %}"
            />
          </div>
        </div>
        <div class="flex-1"><p>Total</p></div>
      </div>
      {% endfor %}
    </section>
    <!-- END -->

    <!-- SECOND PAGE START -->
    <div class="cart-left d-flex flex-column">
      <div class="cart-address card-bg p-4">
        <h5>Choose an Address:</h5>
        <select name="address" class="py-2 px-1 w-auto mt-3" required>
          <option value="address">34 N. Domingo Street, Quezon City</option>
        </select>
      </div >
      <div class="add-address card-bg p-4 mt-3">
        <h5>Add a New Address</h5>
      </div>
    </div>
    <!-- END -->

    <!-- THIRD PAGE START -->
    <div class="cart-left card-bg p-4">
      <div class="cart-payment">
        <h5 class="mb-3">Payment Method:</h5>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
      </div>

        <div class="cart-pickup-date mt-4">
          <h5 class="mb-3">Preferred Date of Delivery/Pick-up:</h5>
          <input class="cart-date px-1 py-1" type="date" name="date" required>
        </div>
        <div class="cart-pickup-date mt-4">
          <h5 class="mb-3">Preferred Time of Delivery/Pick-up:</h5>
          <input class="cart-time px-1 py-1 me-2" type="time" name="time" id="" min="08:00" max="17:00" required>
          <small>Office hours are 8am to 6pm</small>
        </div>
    </div>
    <!-- END -->
    
    <div class="cart-right d-flex flex-column">
      <div class="order-summary card-bg p-4 w-100 mt-3 m-lg-0">
        <h4>Order Summary</h4>
        <hr />
        <p class="d-flex justify-content-between"><strong>Order Total:</strong><span> PHP 360</span</p>
        <p class="mt-2 d-flex justify-content-between"><strong>Delivery Fee:</strong><span> PHP 100</span></p>
        <hr>
        <p class="mt-2 d-flex justify-content-between"><strong>Total Amount:</strong><span> PHP 460</span></p>
        </div>
      <div class="d-flex justify-content-center align-items-center">
        <button
          class="checkout-back w-100 bg-sienna text-white p-3 rounded mt-4 me-3"
        >
          Back
        </button>
        <button
          class="checkout-next w-100 bg-darkbrown text-white p-3 rounded mt-4 ml-3"
        >
          Next
        </button>
        <input type="submit"
          class="checkout-submit w-100 bg-darkbrown text-white p-3 rounded mt-4 ml-3" value="Submit"
        />
      </div>
    </div>
  </section>
</main>

<script>
  let counter = 0;
  const breadSection = document.querySelectorAll('.breadcrumb-section');
  const pages = document.querySelectorAll('.cart-left')
  const next = document.querySelector('.checkout-next');
  const back = document.querySelector('.checkout-back');
  const submit = document.querySelector('.checkout-submit')

  const handleBreadcrumb = () => {
    for (let section of breadSection) {
      section.classList.remove('active');
      breadSection[counter].classList.add('active');
    }

    if (counter === 0) {
      back.classList.add('d-none');
    } else {
      back.classList.remove('d-none');
    }

    if (counter === breadSection.length - 1) {
      next.classList.add('d-none');
      submit.classList.remove('d-none')
    } else {
      next.classList.remove('d-none');
      submit.classList.add('d-none')
    }
  }

  const switchPage = () => {
    for (let page of pages) {
      page.classList.add('d-none');
    }
    pages[counter].classList.remove('d-none')
  }

  const refresh = () => {
    handleBreadcrumb();
    switchPage();
  };

  refresh();

  next.addEventListener('click', () => {
    counter++;
    refresh();
  });

  back.addEventListener('click', () => {
    counter--;
    refresh();
  });


  // For date field
  const configureDate = date => {
    let month = date.getMonth() + 1;
    let day = date.getDate();
    const year = date.getFullYear();
  
    if(month < 10) month = '0' + month.toString();
    if(day < 10) day = '0' + day.toString();

    const convertedDate = year + '-' + month + '-' + day;
    return convertedDate;
  }

  const cartDate = document.querySelector(".cart-date")
  const cartTime = document.querySelector(".cart-time")
  const dtToday = new Date();
  const twoWeeks = new Date(Date.now() + 12096e5);

  const convertedDtToday = configureDate(dtToday)
  const convertedTwoWeeks = configureDate(twoWeeks)
  // const minTime = dtToday.getTime();

  cartDate.setAttribute('min', convertedDtToday)
  cartDate.setAttribute('value', convertedDtToday)
  cartDate.setAttribute('max', convertedTwoWeeks)

  // cartDate.addEventListener("change", (e) => {
  //   if (e.target.value === convertedDtToday) {
  //     cartTime.setAttribute("min", minTime)
  //   } else {
  //     cartTime.setAttribute("min", "8:00")
  //   }
  // })


</script>
{% endblock content %}
