{% extends 'base.html' %} {% load static %} 

{% block topbar %}
<h4>View Item</h4>
{% endblock topbar %} 

{% block topbar-button %}
<a href="{% url 'shop' %}"><button>Back to Shop</button></a>
{% endblock topbar-button %} 

{% block content %}
<main class="item container mt-5">
  {% if item.image %}
      <img class="w-100" src="{{ item.image.url }}" alt="" />
  {% endif %}
  <section class="item__infos d-flex flex-column justify-content-center">
    <h1>{{item.brand}} {{item.name}}</h1>
    <div class="item__infos__content mt-3">
      <div class="item__info">
        <span class="label">Price:</span>
        PHP {{ item.price }}
      </div>
      <div class="item__info">
        <span class="label">Brand:</span>
        {{ item.brand }}
      </div>
      <div class="item__info">
        <span class="label">Name:</span>
        {{ item.name }}
      </div>
      
      <div class="item__info">
        <span class="label">Category:</span>
        {{ item.category }}
      </div>
    </div>
    <br>
    <hr>
    <div class="item__info description">
        <div class="label">Description:</div>
        {{ item.description }}
      </div>
    <div class="item__info mt-3">
      <span class="quantity mr-4"
        ><span class="label">Quantity: </span><input type="number"
      /></span>
      <span class="available-stock"
        ><span class="label">Available Stock: </span>{{ item.stock }}</span
      >
    </div>
    <div class="button"><button class="addtocart bg-darkbrown mt-4">Add To Cart</button></div>
  </section>
</main>

{% endblock content %}
