{% extends 'base.html' %} {% block topbar %}
<h4>My Addresses</h4>
{% endblock topbar %} {% block topbar-button %}
<a href="{% url 'dashboard' %}"><button>Back to Dashboard</button></a>
{% endblock topbar-button %} {% block content %}
<main class="addresses container mt-5">
    <header class="d-flex justify-content-between align-items-center w-100">
        <h4>List of All Registered Addresses</h4>
        <button class="address__button bg-darkbrown mt-3">Add Address</button>
    </header>
    
    <section class="mt-4 card-bg p-4 mb-2">
        {% for address in addresses %}
        <div class="address">
            <h5>Address {{ forloop.counter }}</h5>
            <p class="mt-2">
                {{address.street_address}}, {{address.barangay}},
                {{address.city}}, {{address.zip_code}}.
            </p>
            <p><strong>Home: </strong>{{address.home_phone}}</p>
        </div>
        <button class="address__button bg-darkbrown mt-3">Edit Address</button>
        <button class="address__button bg-sienna ms-2 mt-3">Delete Address</button>
        <hr />
        {% endfor %}
    </section>
</main>
{% endblock content %}
