{% extends 'base.html' %} {% load static %} 

{% block topbar %}
<h4>My Addresses</h4>
{% endblock topbar %} 

{% block topbar-button %}
<a href="{% url 'dashboard' %}"><button>Back to Dashboard</button></a>
{% endblock topbar-button %} 

{% block content %}
<main class="addresses container mt-5">
    <header class="d-flex justify-content-between align-items-center w-100">
        <h4>List of All Registered Addresses</h4>
        <a href="{% url 'add-address' %}"
            ><button class="address__button bg-darkbrown">
                Add Address
            </button></a
        >
    </header>

    <section class="mt-4 mb-5 card-bg p-4">
        {% if addresses %} {% for address in addresses %}
        <div class="address">
            <h5>Address {{ forloop.counter }}</h5>
            <p class="mt-2">
                {{address.street_address}}, {{address.barangay}},
                {{address.city}}, {{address.zip_code}}.
            </p>
            <p><strong>Home: </strong>{{address.home_phone}}</p>
        </div>
        <a href="{% url 'edit-address' address.pk %}"
            ><button class="address__button bg-darkbrown mt-3">
                Edit Address
            </button></a
        >
        <a href=""
            ><button
                data-product="{{address.id}}"
                class="address__button delete-address bg-sienna ms-2 mt-3"
            >
                Delete Address
            </button></a
        >
        <hr />
        <div class="modal modal-{{address.id}}" data-product="{{address.id}}">
            <!-- Modal content -->
            <div class="modal-content w-25">
                <h5>Are you sure you want to delete this address?</h5>
                <p class="mt-2">
                    {{address.street_address}}, {{address.barangay}},
                    {{address.city}}, {{address.zip_code}}.
                </p>
                <p class="mt-2">
                    <strong>Home: </strong>{{address.home_phone}}
                </p>
                <div class="mt-2 d-flex">
                    <button
                        class="delete-address-yes address__button bg-darkbrown w-50 me-2"
                    >
                        Yes
                    </button>
                    <button
                        class="delete-address-no address__button bg-sienna w-50"
                    >
                        No
                    </button>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <h5>No Addresses Available</h5>
        {% endif %}
    </section>
</main>

<script src="{% static 'js/delete_address.js' %}"></script>

{% endblock content %}
