.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 2px solid #A88888;

}

.item .label {
    font-weight: 500;
}

.item div {
    font-size: 18px;
}

.item h1 {
    font-size: 30px;
}

.item__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.item__infos__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.item__infos > div {
    margin-top: 20px;
}

.addtocart {
    background: #4F2C1D;
    border: none;
    color: #ffffff;
    padding: 12px;
    border-radius: 9px;
    font: inherit;
    margin-top: 20px;
}

.quantity {
    margin-right: 30px;
}

.quantity input {
    width: 55px;
    height: 35px;
    padding: 5px;
}