.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.shop-items {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

.shop-items__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 220px;
}

.shop-items__item img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.temp-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: #4F2C1D;
}

.shop-items__item-title {
  text-align: center;
}

.filter-form {
  margin-top: 40px;
}

.filter-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30px;
  row-gap: 20px;
}

.filter-content > input,
.filter-content > select {
  grid-column: 2/4;
  width: 100%;
  padding: 5px;
}

.filter-form span {
  grid-column: 2/4;
  width: 100%;
}

.filter-form span > input {
  width: 26%;
  padding: 5px;
}

.filter-label {
  align-self: center;
}

.filter-submit {
  margin-top: 20px;
  background: #4f2c1d;
  border: none;
  color: #ffffff;
  padding: 12px;
  border-radius: 9px;
  width: 100%;
  font: inherit;
  cursor: pointer;
}
